@tailwind base;
@tailwind components;
@tailwind utilities;

.w-half {
  width: 60vw;
}

.w-almost-half {
  width: 40vw;
}

body {
  font-family: "Poppins", sans-serif;
}

.text-gradient {
  background: -webkit-linear-gradient(hsl(var(--p)), hsl(var(--s)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
